<h1>REGISTER</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text"required>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email"required>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>