<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildsprint</title>
        <style>
            .container{
            margin: auto;
            background-color: #fff;
            max-width: 600px;
            border-radius: 15px;
            box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
            }
            input{
            margin-left:22%;
            }
            .input-box{
            width: 320px;
            height:30px;
            }
            #heading{
            text-align: center;
            font-size: 30px;
            font-style: Delicious-BoldItalic;
            }
            .title{
                margin-left: 22%;
            }
            #submit{
            margin-left: 22%;
            margin-bottom: 20px;
            width: 320px;
            height:40px;
            border-radius: 10px;
            background-color: #B39CD0;
            font-size: 20px;
            color: #fff;
            }
        </style>
    </head>
    <body>
        <form class="simple-form" method="post" action="/auth/login">
        <div class="container">
            <h1 id="heading" >ALL FUNDRAISERS</h1><br>

            
        </div>
    </body>
</html>